#!/bin/sh
#
# ~/.aliases
#         _ _
#    __ _| (_) __ _ ___  ___  ___
#   / _` | | |/ _` / __|/ _ \/ __|
#  | (_| | | | (_| \__ \  __/\__ \
# (_)__,_|_|_|\__,_|___/\___||___/
#             created by Prutserdt

# General
alias a='alias'                 # prints out the list of aliases
alias b='blobdrop'              # Drag and drop directly from the terminal
alias .1='cd ..'
alias .2='cd ../.. && pwd'
alias .3='cd ../../.. && pwd'
alias .4='cd ../../../.. && pwd'
alias ls='ls --color=auto'      # Colored output when possible
alias l='ls -alh'               # Lazy man's ls
alias la='ls -lAFh'             # Long list
alias diff="diff --color=auto"
alias q="exit"                  # Exiting quickly
alias ZZ="exit"                 # Exiting quickly, the Vim way
alias ZQ="exit"                 # Exiting quickly, the Vim way
alias c='printf "\e[H\e[2J"'    # Clear screen, CTL-L for scrollback
alias cls="c;ls"                # Clear screen, scrollback and 'ls --color=auto'
alias cl="c;l"                  # Clear screen, scrollback  and 'ls -alh'
alias rm='rm -i'                # Ask for permission, for safety
alias cp='cp -i'                # Ask for permission, for safety
alias mv='mv -i'                # Ask for permission, for safety
alias u="echo Running the alias 'u':  sudo pacman -Syu && sudo pacman -Syu"  # pacman update
#alias u="echo Running the alias 'u': sudo pacman -Syu --ignore virtualbox --ignore virtualbox-ext-oracle --ignore virtualbox-host-dkms && sudo pacman -Syu --ignore virtualbox --ignore virtualbox-ext-oracle --ignore virtualbox-host-dkms"  # pacman update for virtualbox image

# Search
alias h="history | fzf"             # Fuzzy find history
alias hx='eval $(history | sed "s/^ *[0-9]* *//g" | fzf --tac --tiebreak=index)' # Search and execute

#check vulnerabilities microcode
alias microcode='grep . /sys/devices/system/cpu/vulnerabilities/*'

# nsxiv
# Thumbnail mode current directory. Sort by name and give output if files are selected (m)
alias s="find . -maxdepth 1 -type f -iname '*.jpeg' -o -iname '*.jpg' -o -iname '*.png' -o -iname '*.gif'| sort | nsxiv -ftio"
# Thumbnail mode of current directory including underlaying subdirectories
alias S="find . -type f -iname '*.jpeg' -o -iname '*.jpg' -o -iname '*.png' -o -iname '*.gif'| nsxiv -ftio"
# Move pics. Select a picture by marking (m) and then it will be removed to the direcory 'Minder_en_dubbelop', and echo some info
alias sm="find . -maxdepth 1 -type f -iname '*.jpeg' -o -iname '*.jpg' -o -iname '*.png' -o -iname '*.gif'| sort | nsxiv -tio | xargs -I {} sh -c 'echo Moving {}; mv {} Minder_en_dubbelop/'"
# Show gps location of pic in maps. Select a picture by marking (m) and then it will be removed to the direcory 'Minder_en_dubbelop', and echo some info
#alias sg='image_files=$(find . -maxdepth 1 -type f -iname "*.jpeg" -o -iname "*.jpg" -o -iname "*.png" -o -iname "*.gif" | sort) && selected_image=$(echo "$image_files" | nsxiv -ftio) && [ -n "$selected_image" ] && exif_info=$(exiftool "$selected_image" | grep "GPS Position") && [ -n "$exif_info" ] && gps_position=$(echo "$exif_info" | awk -F ": " "{print $2}" | tr -d " " | sed "s/deg/°/g") && maps_url="https://www.google.com/maps/place/$gps_position" && xdg-open "$maps_url" && notify-send -t 60000 "Google maps opened with GPS location: $gps_position"'
# onderstaande voegt een error message toe, maar lijkt niet meer te werken:
alias sg='image_files=$(find . -maxdepth 1 -type f -iname "*.jpeg" -o -iname "*.jpg" -o -iname "*.png" -o -iname "*.gif" | sort) && selected_image=$(echo "$image_files" | nsxiv -ftio) && [ -n "$selected_image" ] && exif_info=$(exiftool "$selected_image" | grep "GPS Position") && [ -n "$exif_info" ] && gps_position=$(echo "$exif_info" | awk -F ": " "{print $2}" | tr -d " " | sed "s/deg/°/g") && maps_url="https://www.google.com/maps/place/$gps_position" && xdg-open "$maps_url" && notify-send -t 60000 "Google maps opened with GPS location: $gps_position" || echo "Sorry, there is no exif data in the picture"'

# Dotfiles
alias dotfiles='$HOME/.config/dotfiles.sh'                              # Dotfiles repository Github
alias config='/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME' # Github simplification

# Keyboard related
alias e='$HOME/.config/escape_caps_toggle.sh'
alias k='$HOME/.config/keyboard_config.sh'     # Change layout dependent on hostname

# emacs commandline
alias em="/usr/bin/emacs -nw"
#alias emacs="emacsclient -c -a 'emacs'"  # Works on my thinkpad
alias emacs="/usr/bin/emacs"  # Works on my desktop
alias doomsync="~/.config/emacs/bin/doom sync"
alias doomdoctor="~/.config/emacs/bin/doom doctor"
alias doomupgrade="~/.config/emacs/bin/doom upgrade"
alias doombuild="~/.config/emacs/bin/doom build"
alias doompurge="~/.config/emacs/bin/doom purge"
alias doomhelp="~/.config/emacs/bin/doom help"

# Jump to directories
alias dh="cd $HOME/"
alias dc="cd $HOME/.config"
alias dq="cd $HOME/.config/qtile"
alias dd="cd $HOME/Downloads"
alias ds="cd $HOME/Stack"
alias da="cd $HOME/Stack/Afbeeldingen"
alias dv="cd $HOME/Stack/Afbeeldingen/Vakantie"
alias dw="cd $HOME/Stack/Afbeeldingen/Wallpapers"
alias dr="cd $HOME/qmk_firmware/keyboards/redox/keymaps/Prutserdt"
alias dg="cd $HOME/qmk_firmware/keyboards/gergo/keymaps/Prutserdt"

# zsh
alias ze="vim $HOME/.zshrc"                         # edit the .zshrc file
alias zs="source $HOME/.zshrc"                      # source the .zshrc 

alias eric6_browser="/usr/bin/eric7_browser"        # one of my appimages needs eric6_browser, hacky solution...
